//SCORM
//2011.05.23 @fcasanel
#mod-scorm-preview .content_frame {
    margin-left: 8px;
    width: 700px;
    height: 500px;
    position: absolute;
    z-index: 1;
    border-width: 0px;
}

#mod-scorm-preview #scorm_index {
    margin-left: 8px;
    height: 491px;
    width: 215px;
    font-size: small;
    position: absolute;
    z-index: 2;
    background-color: white;
    overflow: scroll;
    padding: 5px;
    visibility:hidden;
}

#mod-scorm-preview #content {
    height: 575px;
}

#mod-scorm-preview h3 {
    margin: 10px;
}

#mod-scorm-preview #show_hide {
    cursor: pointer;
    margin-left: 13px;
}

.database-entry.tobeapproved{
    background-color: #eee;
}

